

.userDetails {
  padding: 10px 20px;
  margin: 0;
}

.userDetails li {
  list-style-type: none;
}
.userDetails li p{
  margin: 10px 0;
}
.userDetails li:not(:last-child) {
  border-bottom: solid 1px rgba(60, 60, 60, 0.3);
}

.userDetails li p {
  min-width: 100px;
}

.details{
    color: grey
}
