.credentialForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

.credentialFormInput {
  margin-bottom: 20px;
}

.credentialFormInput label {
  margin-bottom: 5px;
  color: #333;
}

.credentialFormInput input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.credentialFormSubmitButton button {
  background-color: orange;
  color: white;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.credentialFormSubmitButton button:hover {
  background-color: rgb(244, 159, 1);
}

.credentialFormRedirect, .credentialFormForgotPassword {
  text-align: center;
  padding-top: 10px;
}

.credentialFormRedirect a, .credentialFormForgotPassword a {
  color: black;
  text-decoration-line: underline;
}

.credentialFormInput p {
  color: #d9534f;
  font-size: 14px;
  margin-top: 5px;
}

.credentialFormErrorBox {
  background-color: var(--error-background-color);
  color: var(--error-text-color);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.credentialFormSuccessBox {
  background-color: #dff0d8;
  color: rgb(1, 177, 1);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}
